.Portfolio{
    width:100vw;
    height:100vh;
    background-color: white;
}

.swiperView{
    width:100vw;
    height:100vh;
    transform: translatey(10vh);
    opacity: 0;
    transition: opacity 2s;
}

.swiper-img{
    display: flex;
    justify-content: center;
    width:80vw;
    height: 80vh;
    transform: translateX(10vw);
    padding: 5px 0px 10px 0px;
}






/* mobile */
@media(max-width:720px){
    .Portfolio{
        width:100vw;
        height:100vh;
        position: relative;
    }

    .swiperView{
        width:100vw;
        height:100vh;
        transform: translateY(0vh);
        opacity: 0;
        transition: opacity 2s;
    }

    .swiper-button-next, .swiper-button-prev{
        display: none;
    }
}